/reports
/application_generated_data_files
*.csv
*.bin
*.npy
/.idea
*_local
*_samples
*.pyc
*.o
*.class
*modified_src/
*.dict
*build/
.project
.pydevproject
.pytest_cache/
.idea
*.pyc
/.cache
.coverage